{% extends 'main.html' %}
{% block content %}
<h1>room template</h1>
<h2>{{ room }}</h2>
<h2>{{ room.id }}</h2>
<h3>{{ room.description }}</h3>
<div class="comment-wrapper">
    <h3>conversations</h3>
    <hr>
    <div>{% for message in room_message %}
        <small>@{{ message.user }} {{ message.created|timesince }}</small>
        <p>{{ message.body }}</p>
        <hr>
    {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="body" placeholder="write your message here">
            <input type="submit" value="post your message ">
        </form>
    </div>
    {% endif %}
</div>
{% endblock content %}
